body{
    background-color: rgb(148, 162, 126);
}
fieldset{
    width: fit-content;
    display: block;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:60%;
}
.container > div{
    display: flex;
    margin-top:15px;
    justify-content: space-around;
}
.container > div > :nth-child(4){
    cursor: pointer;
    border: 1px solid grey;
    width: fit-content;
    border-radius: 4px;
}
.container > div > :nth-child(5){
    text-align: center;
    cursor: pointer;
    background-color: rgb(226, 66, 66);
    color: white;
    border: 1px solid rgb(226, 66, 66);
    border-radius: 4px;
    width: fit-content;
}
.container > div > span{
   width: 20%;
   text-align: center;
}
.thelibrary{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thelibrary > span{
    font-size: 40px;
}
button{
    width: fit-content;
    height: 25px;
    border-radius: 3px;
    background-color: rgb(207, 200, 200);
}

